<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futuredata.cloud.codegen.mapper.TOperationLogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.futuredata.cloud.codegen.entity.TOperationLog" id="tOperationLogMap">
        <result property="operationId" column="operation_id"/>
        <result property="operationName" column="operation_name"/>
        <result property="operationContent" column="operation_content"/>
        <result property="createdate" column="createdate"/>
        <result property="operationUser" column="operation_user"/>
        <result property="operationUserName" column="operation_user_name"/>
        <result property="operationType" column="operation_type"/>
    </resultMap>


</mapper>